{% extends 'ProjectBody/Body.html' %}
{% block contenid %}

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <h1>Visualizar Order</h1>
                        <hr>
                        <a href="{{ ruta }}" id="btnSalir" class="btn btn-info"> <i class="fa fa-window-close"> Volver</i> </a>
                        <div class="col-lg-6">
                            <div class="form-group has-success">
                                <label for="razonsocial" class="control-label mb-1">Realizada por:</label>
                                <input id="razonsocial" name="razonsocial" type="text" class="form-control valid"
                                       minlength="4" maxlength="50" value ='{{ usuario.first_name }} {{ usuario.last_name }}' required="true">

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group has-success">
                                <label for="razonsocial" class="control-label mb-1">Fecha de Venta:</label>
                                <input id="razonsocial" name="razonsocial" type="text" class="form-control valid" data-val="true"
                                       minlength="4" maxlength="50" value ='{{ venta.order_date }}' required="true">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group has-success">
                                <label for="razonsocial" class="control-label mb-1">Cliente:</label>
                                <input id="razonsocial" name="razonsocial" type="text" class="form-control valid" data-val="true"
                                       minlength="4" maxlength="50" value ='{{ venta.customer.first_name }} {{ venta.customer.last_name }}' required="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for detel in detalle %}
                    <tr>
                        <th scope="row">{{ detel.id }}</th>
                        <td>{{ detel.product.name }}</td>
                        <td>{{ detel.quantity }}</td>
                        <td>{{ detel.unit_price }}</td>
                        <td>{{ detel.total_price }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
{% block jscript %}
    <script type='text/javascript'>
        $('input').prop("disabled", true);
    </script>
{% endblock %}